/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/js
/public/css
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_Store
sftp-config.json
public/mix-manifest.json
public/mix.js
credentials/authorized_tokens.json