#campaign{
    margin: 0px auto;
    padding: 20px 0px;
    clear: both;
    width: 980px;
    @media screen and (max-width: 768px) {
      padding: 20px 10px;
      clear: both;
      text-align: justify;
      width: 100%;
      word-break: break-word;
    }
    p{
      text-align: start;
    }
    .breadcrumb{
        margin: 0px auto 20px auto;
        padding: 0;
        overflow: hidden;
        text-align: left;
        width: 100%;
        li{
          display: inline;
          padding-right: 5px;
          text-align: left;
          a{
            white-space: nowrap;
          }
        }
    }
  .campaign-content{
    text-align: initial;
  }
}