#form {
  margin: 0px auto 30px auto;
  border: 1px solid #ccc;
  h4{
    width: 100%;
    background-color: $gray-bold;
    padding: 10px 0px;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin: 0;
  }
  h5{
    background-color: $white-background;
    font-size: 13px;
    text-align: left;
    padding: 10px 20px;
  }
  table{
    margin: 15px auto;
    width: 90%;
    clear: both;
    border-collapse: collapse;
    th{
      width: 30%;
      background-color: $white-background;
      vertical-align: top;
      line-height: 120%;
      border: 1px #cccccc solid;
      padding: 1%;
      text-align: left;
    }
    td{
      width: 70%;
      line-height: 120%;
      border: 1px #cccccc solid;
      padding: 1%;
      text-align: left;
      textarea{
        width: 90%;
      }
    }
  }
}