.sitemap{
  h5{
    width: auto!important;
    padding: 5px 30px 5px 15px!important;
  }
  ul{
    margin: 0;
    padding: 10px 0;
    list-style: none;
    overflow: hidden;
    list-style-type: none;
    line-height: 150%;
    text-align: left;
    li{
      display: block;
      margin-left: 15px;
      padding: 0 0 0 15px;
      background-size: auto 60%;
      width: 295px;
      float: left;
      font-size: 14px;
      a{
        font-size: 12px;
        color: $black;
        &:before{
          font-family: "FontAwesome";
          content: '\f138';
        }
      }
    }
  }
}